/*world cup css*/
.worldCup{
	background-image: url('{{asset('assets/adv/bpl2019.jpg')}}');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.special-card{
	border-top: 2px solid #c1c1c1;
	border-bottom: 2px solid #c1c1c1;
}
.special-card .body{
	background-color: white;
}
.special-card .head{
	padding-top: 5px;
	padding-bottom: 5px;
}
.news-tab .card{
	background-color: white !important;
}
.editorialDesignBg{
	background-color: white;
}
.muktomonchoDesignBg{
	background-color: white;
}
.bangladeshDesignBg{
	background-color: white;
}

/*new css*/
.fontSize23{
	font-size: 23px !important;
	line-height: 25px !important;
}
.fontSize20{
	font-size: 20px !important;
	line-height: 23px !important;
}



/*countdown*/
.fifa-countdown {
	position: relative;
}
div#countdown {
	color: black;
	top: 30px;
	font-size: 23px;
	text-align: center !important;
	padding: 10px 0px 10px 0px;
	/*height: 180px !important;*/
}
div#countdown .time {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center !important;
}
#countdown span{
	color: white !important;
	font-size: 35px;
	border-right: 1px solid red;
	margin-left: 5px;
	margin-right: 5px;
	width: 60px;
	text-align: center !important;
}
#countdown span:last-child{
	border-right: none;
}


.adResponsive ins img{
	width: 100% !important
}
.vgallery-play-icon1{
	font-size: 26px;
	background-color: #BB1919;
	position: absolute;
	color: white;
	border-radius: 10px;
	height: 54px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -27px;
	text-align: center;
}
.vgallery-play-icon1 i{
	margin: 15px 20px 15px 30px;
}
.videoIconHover:hover .vgallery-play-icon1{
	background-color: black;
	opacity: .8
}
.vgallery-play-icon2 {
	font-size: 22px;
	background-color: #BB1919;
	position: absolute;
	color: white;
	border-radius: 8px;
	height: 40px;
	width: 60px;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -20px;
	text-align: center;
}
.vgallery-play-icon2 i {
	margin: 9px 10px 10px 15px;
}
.videoIconHover:hover .vgallery-play-icon2{
	background-color: black;
	opacity: .8
}
.vgallery-play-icon3 {
	font-size: 18px;
	background-color: #BB1919;
	position: absolute;
	color: white;
	border-radius: 7px;
	height: 30px;
	width: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -15px;
	text-align: center;
}
.vgallery-play-icon3 i {
	margin: 7px 10px 10px 15px;
}
.videoIconHover:hover .vgallery-play-icon3{
	background-color: black;
	opacity: .8
}
.colorWhite{
	color: white !important;
}
.colorWhite:hover{
	color: #FF8C00 !important;
}
.colorWhiteOnly{
	color: white !important;
}
.eventSideUl li{
	border-bottom: 1px solid #d6cdc2;
}
.eventSideUl li:last-child{
	border-bottom: none;
}
.eventSideUl li .media-heading{
	color: white
}


/*election*/
.homeResultShow tr:nth-child(even){
	background-color: #716d70;
	color: white;
}
.homeResultShow tr:nth-child(even) a{
	color: white;
}
.homeResultShow tr:nth-child(odd){
	background-color: #52474f;
	color: white;
}
.homeResultShow tr:nth-child(odd) a{
	color: white;
}



/*lead design*/
.leadDesign2Time{
	font-size: 18px;
	color: #899898
}
.leadDesign2Lead a{
	font-size: 26px;
	color: black;
	text-decoration: none;
	font-weight: bold
}
.leadDesign2Lead a:hover{
	color:green
}
.leadDesign2{

}
.leadDesign2:hover{
	opacity: .8
}
.leadDesign2:hover .leadDesign2Lead a{
	color:green
}


.leadDesign2Top{
	border-bottom: 1px solid #d6cccc;
	margin-bottom: 10px;
	cursor: pointer;
	padding-bottom: 10px
}
.leadDesign2Top:last-child{
	border-bottom: none !important;
	margin-bottom: 10px;
	cursor: pointer;
	padding-bottom: 10px
}
.leadDesign2Top:hover{
	opacity: .8
}
.leadDesign2Top:hover h3 a{
	color:green
}
.leadDesign2Top h3 a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
}
.leadDesign2Top h3 a:hover{
	color:green
}
.leadDesign2TopInfo{
	font-size: 20px;
	color: black;
	text-align: justify;
	margin-top: 5px
}
@-webkit-keyframes blinker {
	from {opacity: 1.0;}
	to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.mujibMoreButton{
	position: absolute;bottom: 0;margin-bottom: 5px; right: 0;margin-right: 18px;background-color: #d9d9d9;padding: 5px 10px;font-size: 18px;
}
.mujibCartDesign{
	background-color: #c9c97c !important
}
.mujibMoreButtonMobile{
	position: absolute;
	bottom: 15px;
	margin-bottom: 5px;
	right: 0;
	margin-right: 29px;
	background-color: #d9d9d9;
	padding: 1px 6px;
	font-size: 18px;
}



/*random sliding ad*/
#randomSlidingAd {
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px;
}
#randomSlidingAd > div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

@media (min-width: 0px) and (max-width: 768px){
	.xs-width50{
		width: 50px !important
	}
}


.leadDesign3Top {
    border-bottom: 4px solid #f4f4f4;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
}
.leadDesign3Top:last-child {
    border-bottom: unset;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
}
.leadDesign3Top h3 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.leadDesign3Top:hover h3 a {
    color:green
}
.news-content:hover .heading {
	color: green;
}